body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.contenu{
    flex: 1 0 auto;
}


.background{
    background-image: url(src/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 235px;
    position: relative;
    height: 348px;
    background-color: rgb(16, 137, 255);
    overflow-x: hidden;
    box-sizing: border-box;
    height: 1100px;
}


.Text_Acceuille{
    position: relative;
    color: aliceblue;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    position: relative;
    left: 350px;
}

.unederline{
    font-weight: normal;
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: -0.3px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    max-width: 515px;
    opacity: 0.8;
    position: relative;
    top: -40px;
}

.button{
    position: relative;
    top: -20px;
    
}
.Text_Acceuille a{
    text-decoration: none; 
    outline: none 
}


.button{
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    color: rgb(255, 255, 255);
    padding: 21px 29px;
    background-color: rgb(35, 55, 77);
    transition: all 500ms ease 0s;
    cursor: pointer;
}

.Connection{
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    color: rgb(255, 255, 255);
    padding: 21px 29px;
    background-color: aliceblue;
    transition: all 500ms ease 0s;
    cursor: pointer;
    position: absolute;
    left: 1600px;
    color: rgb(16, 137, 255);
}


.header.sticky{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header.sticky .navigation.text .hover.active a{
    color: rgb(16, 137, 255);
}

.header.sticky .navigation.text a:hover{
    color: rgb(16, 137, 255);

}

.header.sticky .navigation.text .logo.active{
    color: black;
}


.Connection:hover{
    color: #fff;
    background-color: black;
}




.button:hover{
    background-color: aliceblue;
    color: rgb(35, 55, 77);
}

.fleche{
    position: relative;
    left: 10px;
    top: 1px;
}

.header{
    position: fixed;
    top: -20px;
    left: 0px;
    width: 100%;
    transition: all 0.35s ease-in-out 0s;
    padding: 30px 0px;
    height: 80px;
    z-index: 1000000;
}

.header .navigation.text{
    position: relative;
    top: 50px;
}











.header .navigation.text li a{
    color: black;
}


.header .navigation .hover.active li{
    color: rgb(16, 137, 255);
}

.header .navigation{
    display: flex;
    list-style: none;   
    width: 100%;
    position: relative;
    left: 360px;
    top: 40px;
}

.header .navigation li a{
    text-decoration: none;
}

.header .navigation li a{
    text-align: right;
    padding: 20px;
    color: aliceblue;
    position: relative;
    left: 100px;
}

.header .navigation span{
    color: aliceblue;
    font-size: 20px;
}


.header.sticky{
    background-color: #fff;
    position: fixed;
    padding: 5px 10px;
    height: 90px;
}




.forfait h1{
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
    color: rgb(15, 33, 55);
}

.forfait .proposition{
    position: relative;
    top: 30px;
    left: 770px;
    background-color: rgb(16, 137, 255);
    border-radius: 10px;
    width: 400px;
    height: 500px;
}



.forfait .proposition .payement{
    position: absolute;
    top: 40px;
    left: 230px;
    color: #fff;
    font-size: 20px;
}

.forfait .proposition .Pro{
    position: absolute;
    top: 30px;
    left: 20px;
    color: #fff;
    font-size: 30px;
}


.contenu .forfait .proposition .panier{
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    color: rgb(255, 255, 255);
    padding: 21px 29px;
    background-color: aliceblue;
    transition: all 500ms ease 0s;
    cursor: pointer;
    position: absolute;
    color: rgb(16, 137, 255);
    top: 400px;
    left: 90px;
}

.contenu .forfait .proposition .panier:hover{
    color: #fff;
    background-color: black;

}


footer{
    flex-shrink: 0;
    border-top: 1px dashed black;
    width: 100%;
    background: #f1f1f1;
    color: #333;
    position: relative;
    top: 100px;
}



.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}


.footer-contact p{
    padding: 5px 0;
}


.listes-services{
    list-style: none;
}

.listes-services li{
    padding: 2px 0;
}

.listes-services a{
    text-decoration: none;
    color: #333;
}

.listes-services a:hover{
    color: rgb(3,3,3);
}


.listes-services{
    position: relative;
    right: 40px;
}
