.formulaire h1{
    position: absolute;
    top: -100px;
}

.formulaire span{
    font-size: 20px;
}

.formulaire{
    position: relative;
    top: -600px;
    right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    

}

.formulaire input{
    padding: 10px;
    position: relative;
}

.formulaire .email{
    position: relative;
    left: 93px;
}


.formulaire .btn_envoyer{
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    top: 20px;
    left: 100px;
    width: 110px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}
.formulaire .btn_envoyer:hover{
    background-color: black;
    color: #fff;
}
.formulaire .password{
    position: relative;
    left: 20px;
}
.formulaire .form .input{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    outline: none;
    background-color: none;
    padding: 1rem;
}
.formulaire .form{
    position: relative;
    top: 100px;
}