/* Global */

input[type=button],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=email],
input[type=file],
input[type=image],
input[type=month],
input[type=number],
input[type=password],
input[type=radio],
input[type=range],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
progress,
textarea
/* All */
{
     margin : 10px;
     font-size: 1rem;
     box-sizing: border-box;
     vertical-align: middle;
}


/* Fixes */

input[type=checkbox],
input[type=radio],
input[type=range],
/* Only those input types support accent-color property */
progress
{
     accent-color: var(--accentColor);
}

input[type=button],
input[type=color],
input[type=date],
input[type=email],
input[type=image],
input[type=month],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea
{
     height: 40px;
}

input[type=button],
input[type=checkbox],
input[type=date],
input[type=email],
input[type=image],
input[type=month],
input[type=number],
input[type=password],
input[type=radio],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea
{
     padding : 10px 20px;
     border : 1px rgb(191, 191, 191) solid;
     background-color : rgb(255, 255, 255);
}

input[type=checkbox],
input[type=radio]
{
     width : 25px;
     height : 25px;
}

progress
{
     height : 30px;
}

input[type=color]
{
     border : none;
}

input[type=button],
input[type=date],
input[type=email],
input[type=image],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea
{
     border-radius: 10px;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=image]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=reset]:focus,
input[type=search]:focus,
input[type=submit]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea
{
     outline: solid 2px var(--accentColorLight);
}

input[type=submit]
{
     align-self: flex-start;
}


/* Fieldsets */

fieldset
{
     border : 1px solid var(--accentColorLight);
     border-radius: 10px;
     padding : 10px;
}

fieldset legend
{
     font-weight: bold;
     padding : 0 10px;
}

fieldset > div > label
{
     margin : 10px;
}

fieldset > div,
fieldset > div > div
{
     display: flex;
     gap : 20px;
}

fieldset > div,
fieldset > div > div > div
{
     display: flex;
     align-items: center;
}


/* Forms */

.form
{
     display: flex;
     flex-direction: column;
     gap : 15px;
}

