#sidebar,
#headerbar
{
     background-color: var(--accentColorLight);
     display: flex;
}

#sidebar
{
     flex-direction: column;
     row-gap: 15px;
     padding : 20px 15px;
}

#headerbar
{
     flex-direction: row;
     column-gap: 15px;
     padding : 10px 15px;
}

#sidebar *,
#headerbar *
{
     margin : 0;
     color : var(--accentColorDark);
}

#sidebar > a,
#headerbar > a
{
     text-decoration: none;
     display: flex;
     align-items: center;
}

#sidebar > a div,
#headerbar > a div
{
     display: flex;
     align-items: center;
}

#sidebar > a img,
#headerbar > a img
{
     width : 40px;
     height : 40px;
     margin-right : 10px;
}

#sidebar > a span,
#headerbar > a span
{
     font-size: 25px !important;
     margin-right : 10px;
}

.space
{
     flex : 1;
}

.separator
{
     border : 1px solid var(--accentColorDark);
}

