body{
    background-image: url(../../../../../../../private/src/fond.png);
    color: #fff;
    overflow-x: hidden;
}


.modification_confirmation{
    position: relative;
    left: 800px;
    top: 200px;
}

