* {
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../../../../private/src/fond.png);
    color: #fff;
}

.modification {
    position: relative;
    left: 800px;
    top: 50px;
}




a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: black;
}